<div class="course-table">
  <h2>Course Table</h2>
  <div>
    <input class="my-4" [(ngModel)]="courseTitle" />
    <button (click)="addCourse(courseTitle)">
      Create Course
    </button>
  </div>

  <ul class="list-group">
    <li *ngFor="let course of courses" class="list-group-item">
      <a class="mr-5" href="table/courses/{{ course._id }}/modules">
        {{ course.title }}
      </a>
      <a class="float-right" href="/courses/{{ course._id }}/quizzes">
        Quizzes
      </a>
    </li>
  </ul>
</div>
