<h3>True or False</h3>
<h4>{{ question.question }}</h4>
<div
  [class]="{
    'bg-lightgreen': grading && 'true' === question.correct,
    'bg-lightred':
      grading && 'true' !== question.correct && question.correct !== answer
  }"
>
  <label>
    <input
      [(ngModel)]="answer"
      type="radio"
      value="true"
      name="{{ question._id }}"
    />
    Yes
    <i
      [hidden]="grading === false || 'true' !== question.correct"
      class="fa fa-check fa-lg"
    ></i>
    <i
      [hidden]="
        grading === false ||
        'true' === question.correct ||
        question.correct === answer
      "
      class="fa fa-times fa-lg"
    ></i>
  </label>
</div>
<div
  [class]="{
    'bg-lightgreen': grading && 'false' === question.correct,
    'bg-lightred':
      grading && 'false' !== question.correct && question.correct !== answer
  }"
>
  <label>
    <input
      [(ngModel)]="answer"
      type="radio"
      value="false"
      name="{{ question._id }}"
    />
    No
    <i
      [hidden]="grading === false || 'false' !== question.correct"
      class="fa fa-check fa-lg"
    ></i>
    <i
      [hidden]="
        grading === false ||
        'false' === question.correct ||
        question.correct === answer
      "
      class="fa fa-times fa-lg"
    ></i>
  </label>
</div>
<br/>
<span class="my-1">Your answer: {{ answer }}</span>
<br/>
<br />

<button (click)="grade()">
  Grade
</button>
